<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db95c869-a561-4550-a14c-5b9b8059aa2e" Alias="categoryList" Level="2">
  <Info>
    <Name>Category List</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="06b1ad02-499f-40fe-9e1f-5f9712f348c3" SortOrder="0">categories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>