<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06b1ad02-499f-40fe-9e1f-5f9712f348c3" Alias="categories" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="58f3a847-8117-4341-8cdf-e007baa4b88c" SortOrder="0">subcategory</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>85f86ab9-52c2-4754-b85a-8af69c385bee</Key>
      <Name>color</Name>
      <Alias>color</Alias>
      <Definition>d308c147-c985-4c5d-8fc4-1fd49092b854</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>