<?xml version="1.0" encoding="utf-8"?>
<Content Key="da2e2886-782f-4f88-95a9-34a3286463a3" Alias="3D Modeling" Level="3">
  <Info>
    <Parent Key="1f82306c-ee58-487d-b143-103992e686fa">Design</Parent>
    <Path>/Categories/Design/DModeling</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:42:45</CreateDate>
    <NodeName Default="3D Modeling" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>