<?xml version="1.0" encoding="utf-8"?>
<Content Key="20f2a699-7fcc-49a0-9c13-d5f2abb5972b" Alias="Accounting" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/Accounting</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:36:17</CreateDate>
    <NodeName Default="Accounting" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>