<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdede46f-99b3-49b9-867d-30cd2f7b3b69" Alias="All" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/All</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:35:47</CreateDate>
    <NodeName Default="All" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>