<?xml version="1.0" encoding="utf-8"?>
<Content Key="0be37abf-8380-4038-b734-430a9e912d3b" Alias="Aventure" Level="3">
  <Info>
    <Parent Key="3ba5cc68-3989-4fc7-a61f-c5fb490aece6">Livres</Parent>
    <Path>/Categories/Livres/Aventure</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-20T08:29:17</CreateDate>
    <NodeName Default="Aventure" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#878787]]></Value>
    </color>
  </Properties>
</Content>