<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9d4b817-08ba-476c-a725-b9e8249a4eef" Alias="Blogging" Level="3">
  <Info>
    <Parent Key="b120698f-a298-4c69-a0ce-d76ce2e6a887">Writing &amp; Publishing</Parent>
    <Path>/Categories/WritingPublishing/Blogging</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:39:07</CreateDate>
    <NodeName Default="Blogging" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>