<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae00c32f-9962-46bb-a992-4266426b3614" Alias="Business &amp; Money" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/BusinessMoney</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:36:08</CreateDate>
    <NodeName Default="Business &amp; Money" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#ffb347]]></Value>
    </color>
  </Properties>
</Content>