<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1bffb8f-3a52-415f-8202-da3403784806" Alias="Career Growth" Level="3">
  <Info>
    <Parent Key="7e45f0cd-3705-4f00-85b9-7ebcf06191da">Self Improvement</Parent>
    <Path>/Categories/SelfImprovement/CareerGrowth</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:41:17</CreateDate>
    <NodeName Default="Career Growth" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>