<?xml version="1.0" encoding="utf-8"?>
<Content Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a" Alias="Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryList</ContentType>
    <CreateDate>2026-08-19T15:12:02</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>