<?xml version="1.0" encoding="utf-8"?>
<Content Key="5932db3c-e603-42b2-99eb-01c09b1dbbef" Alias="Charcoal" Level="3">
  <Info>
    <Parent Key="a397b257-0f25-4ac1-b2bd-2eb034c952f0">Drawing &amp; Painting</Parent>
    <Path>/Categories/DrawingPainting/Charcoal</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:43:39</CreateDate>
    <NodeName Default="Charcoal" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>