<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d4603c9-45e6-4ed9-b3cf-b21338b41c59" Alias="Chaussures" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/Chaussures</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-21T13:30:05</CreateDate>
    <NodeName Default="Chaussures" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#d0ff00]]></Value>
    </color>
  </Properties>
</Content>