<?xml version="1.0" encoding="utf-8"?>
<Content Key="18e1f03f-2c7d-4ef9-8bff-f13b35c68aef" Alias="Copywriting" Level="3">
  <Info>
    <Parent Key="b120698f-a298-4c69-a0ce-d76ce2e6a887">Writing &amp; Publishing</Parent>
    <Path>/Categories/WritingPublishing/Copywriting</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:39:13</CreateDate>
    <NodeName Default="Copywriting" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>