<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f82306c-ee58-487d-b143-103992e686fa" Alias="Design" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:42:21</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#b3b6ff]]></Value>
    </color>
  </Properties>
</Content>