<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee678acf-8014-42bc-81ec-2d5774a53985" Alias="DevOps" Level="3">
  <Info>
    <Parent Key="62e57368-546e-40e8-8058-37aee98069f4">Software Development</Parent>
    <Path>/Categories/SoftwareDevelopment/DevOps</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:38:31</CreateDate>
    <NodeName Default="DevOps" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>