<?xml version="1.0" encoding="utf-8"?>
<Content Key="a397b257-0f25-4ac1-b2bd-2eb034c952f0" Alias="Drawing &amp; Painting" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/DrawingPainting</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:43:06</CreateDate>
    <NodeName Default="Drawing &amp; Painting" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#ffccb3]]></Value>
    </color>
  </Properties>
</Content>