<?xml version="1.0" encoding="utf-8"?>
<Content Key="3407abc2-e2d9-4cae-a8b6-b50c5877a774" Alias="Education" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/Education</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:39:44</CreateDate>
    <NodeName Default="Education" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#ffe066]]></Value>
    </color>
  </Properties>
</Content>