<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5b68b62-a9f4-4d00-9932-4b53c72db0fe" Alias="Fiction" Level="3">
  <Info>
    <Parent Key="3ba5cc68-3989-4fc7-a61f-c5fb490aece6">Livres</Parent>
    <Path>/Categories/Livres/Fiction</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-20T08:28:59</CreateDate>
    <NodeName Default="Fiction" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#4b91e2]]></Value>
    </color>
  </Properties>
</Content>