<?xml version="1.0" encoding="utf-8"?>
<Content Key="565e8a7e-2806-41bd-8ed6-9444c3939bb9" Alias="Fitness &amp; Health" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/FitnessHealth</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:41:32</CreateDate>
    <NodeName Default="Fitness &amp; Health" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#ff99a2]]></Value>
    </color>
  </Properties>
</Content>