<?xml version="1.0" encoding="utf-8"?>
<Content Key="799dcd6d-2bdc-4f55-8229-36b07843e154" Alias="Game Development" Level="3">
  <Info>
    <Parent Key="62e57368-546e-40e8-8058-37aee98069f4">Software Development</Parent>
    <Path>/Categories/SoftwareDevelopment/GameDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:38:18</CreateDate>
    <NodeName Default="Game Development" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>