<?xml version="1.0" encoding="utf-8"?>
<Content Key="748245f9-10ab-4935-8d13-b5130aea05fa" Alias="Gigs &amp; Side Projects" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/GigsSideProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:36:42</CreateDate>
    <NodeName Default="Gigs &amp; Side Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>