<?xml version="1.0" encoding="utf-8"?>
<Content Key="524187be-d735-4e09-b2eb-39fd1f9bc69a" Alias="Landscape" Level="3">
  <Info>
    <Parent Key="e0f82125-70eb-45ae-865e-8aa834908663">Photography</Parent>
    <Path>/Categories/Photography/Landscape</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:51</CreateDate>
    <NodeName Default="Landscape" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>