<?xml version="1.0" encoding="utf-8"?>
<Content Key="782eed44-0f04-47bb-a9bd-bd6bc9616abe" Alias="Livres (1)" Level="101">
  <Info>
    <Parent Key="0f582a79-1e41-4cf0-bfa0-76340651891a">Recycle Bin</Parent>
    <Path>/RecycleBin/Livres1</Path>
    <Trashed Parent="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">true</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-20T08:20:26</CreateDate>
    <NodeName Default="Livres (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>