<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ba5cc68-3989-4fc7-a61f-c5fb490aece6" Alias="Livres" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/Livres</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-19T15:12:51</CreateDate>
    <NodeName Default="Livres" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#d21919]]></Value>
    </color>
  </Properties>
</Content>