<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a04fcee-e7ff-485a-b115-c4c112ee66b4" Alias="Macro" Level="3">
  <Info>
    <Parent Key="e0f82125-70eb-45ae-865e-8aa834908663">Photography</Parent>
    <Path>/Categories/Photography/Macro</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:45:12</CreateDate>
    <NodeName Default="Macro" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>