<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cce1f8c-247a-4b52-ada3-3cbe0d402720" Alias="Management &amp; Leadership" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/ManagementLeadership</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:37:00</CreateDate>
    <NodeName Default="Management &amp; Leadership" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>