<?xml version="1.0" encoding="utf-8"?>
<Content Key="b576f211-7d65-449a-84c9-76727e2eda17" Alias="Marketing &amp; Sales" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/MarketingSales</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:37:09</CreateDate>
    <NodeName Default="Marketing &amp; Sales" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>