<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4bb9b7c-cb6a-49d7-bbee-9c8e2e696839" Alias="Mobile Development" Level="3">
  <Info>
    <Parent Key="62e57368-546e-40e8-8058-37aee98069f4">Software Development</Parent>
    <Path>/Categories/SoftwareDevelopment/MobileDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:38:11</CreateDate>
    <NodeName Default="Mobile Development" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>