<?xml version="1.0" encoding="utf-8"?>
<Content Key="a655c2d0-7e55-464f-99a9-21739bddb961" Alias="Music History" Level="3">
  <Info>
    <Parent Key="216157e7-234b-4569-9dd0-67cf978d00c0">Music</Parent>
    <Path>/Categories/Music/MusicHistory</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:25</CreateDate>
    <NodeName Default="Music History" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>