<?xml version="1.0" encoding="utf-8"?>
<Content Key="864d3e48-50ef-4398-8444-b8f57ade6ab2" Alias="Music Theory" Level="3">
  <Info>
    <Parent Key="216157e7-234b-4569-9dd0-67cf978d00c0">Music</Parent>
    <Path>/Categories/Music/MusicTheory</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:17</CreateDate>
    <NodeName Default="Music Theory" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>