<?xml version="1.0" encoding="utf-8"?>
<Content Key="216157e7-234b-4569-9dd0-67cf978d00c0" Alias="Music" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/Music</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:43:58</CreateDate>
    <NodeName Default="Music" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#ffd900]]></Value>
    </color>
  </Properties>
</Content>