<?xml version="1.0" encoding="utf-8"?>
<Content Key="420a8923-6438-4dae-9789-2f51c4350a39" Alias="Music Production" Level="3">
  <Info>
    <Parent Key="216157e7-234b-4569-9dd0-67cf978d00c0">Music</Parent>
    <Path>/Categories/Music/MusicProduction</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:10</CreateDate>
    <NodeName Default="Music Production" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>