<?xml version="1.0" encoding="utf-8"?>
<Content Key="2165f338-195f-47fa-ad48-6dd8daeb04c4" Alias="Nature" Level="3">
  <Info>
    <Parent Key="e0f82125-70eb-45ae-865e-8aa834908663">Photography</Parent>
    <Path>/Categories/Photography/Nature</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:45:04</CreateDate>
    <NodeName Default="Nature" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>