<?xml version="1.0" encoding="utf-8"?>
<Content Key="e23d66fc-ca19-4acf-b041-7699a469b3ea" Alias="Networking, Careers &amp; Jobs" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/NetworkingCareersJobs</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:37:16</CreateDate>
    <NodeName Default="Networking, Careers &amp; Jobs" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>