<?xml version="1.0" encoding="utf-8"?>
<Content Key="22fee0dd-f948-4dad-9f84-d27b5827796f" Alias="Non-Fiction" Level="3">
  <Info>
    <Parent Key="b120698f-a298-4c69-a0ce-d76ce2e6a887">Writing &amp; Publishing</Parent>
    <Path>/Categories/WritingPublishing/NonFiction</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:39:01</CreateDate>
    <NodeName Default="Non-Fiction" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>