<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0ccf5f9-8fd6-4d90-9223-87c236f26707" Alias="Nutrition" Level="3">
  <Info>
    <Parent Key="565e8a7e-2806-41bd-8ed6-9444c3939bb9">Fitness &amp; Health</Parent>
    <Path>/Categories/FitnessHealth/Nutrition</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:41:46</CreateDate>
    <NodeName Default="Nutrition" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>