<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1bf10f0-d9fc-432c-a146-3731effbe63f" Alias="Oil" Level="3">
  <Info>
    <Parent Key="a397b257-0f25-4ac1-b2bd-2eb034c952f0">Drawing &amp; Painting</Parent>
    <Path>/Categories/DrawingPainting/Oil</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:43:28</CreateDate>
    <NodeName Default="Oil" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>