<?xml version="1.0" encoding="utf-8"?>
<Content Key="223f0ac6-d3e0-480d-bc5c-4f4ccc900fa9" Alias="Online Courses" Level="3">
  <Info>
    <Parent Key="3407abc2-e2d9-4cae-a8b6-b50c5877a774">Education</Parent>
    <Path>/Categories/Education/OnlineCourses</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:39:52</CreateDate>
    <NodeName Default="Online Courses" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>