<?xml version="1.0" encoding="utf-8"?>
<Content Key="d858c245-10bc-4c86-a0a3-443dcadb95c5" Alias="Pastel" Level="3">
  <Info>
    <Parent Key="a397b257-0f25-4ac1-b2bd-2eb034c952f0">Drawing &amp; Painting</Parent>
    <Path>/Categories/DrawingPainting/Pastel</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:43:33</CreateDate>
    <NodeName Default="Pastel" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>