<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f1f4418-d734-4375-9fa3-2829eb267212" Alias="Personal Development" Level="3">
  <Info>
    <Parent Key="7e45f0cd-3705-4f00-85b9-7ebcf06191da">Self Improvement</Parent>
    <Path>/Categories/SelfImprovement/PersonalDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:41:03</CreateDate>
    <NodeName Default="Personal Development" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>