<?xml version="1.0" encoding="utf-8"?>
<Content Key="a48e955c-4d9b-4da6-953e-61768cf1bf2a" Alias="Personal Finance" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/PersonalFinance</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:37:25</CreateDate>
    <NodeName Default="Personal Finance" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>