<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0f82125-70eb-45ae-865e-8aa834908663" Alias="Photography" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/Photography</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:44:40</CreateDate>
    <NodeName Default="Photography" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#ff6b6b]]></Value>
    </color>
  </Properties>
</Content>