<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf873ce5-060a-403d-96ac-17679650c64a" Alias="Portrait" Level="3">
  <Info>
    <Parent Key="e0f82125-70eb-45ae-865e-8aa834908663">Photography</Parent>
    <Path>/Categories/Photography/Portrait</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:45</CreateDate>
    <NodeName Default="Portrait" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>