<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef78dc0a-d680-4037-81b7-2d0a04bc3d51" Alias="Programming Languages" Level="3">
  <Info>
    <Parent Key="62e57368-546e-40e8-8058-37aee98069f4">Software Development</Parent>
    <Path>/Categories/SoftwareDevelopment/ProgrammingLanguages</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:38:25</CreateDate>
    <NodeName Default="Programming Languages" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>