<?xml version="1.0" encoding="utf-8"?>
<Content Key="89cdafe0-5464-489a-9778-a9282c1f9997" Alias="Real Estate" Level="3">
  <Info>
    <Parent Key="ae00c32f-9962-46bb-a992-4266426b3614">Business &amp; Money</Parent>
    <Path>/Categories/BusinessMoney/RealEstate</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:37:35</CreateDate>
    <NodeName Default="Real Estate" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>