<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e45f0cd-3705-4f00-85b9-7ebcf06191da" Alias="Self Improvement" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/SelfImprovement</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:40:49</CreateDate>
    <NodeName Default="Self Improvement" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#98e7b5]]></Value>
    </color>
  </Properties>
</Content>