<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7536e04-ca10-45ec-96e3-f8b8a56bb8f5" Alias="Self-Publishing" Level="3">
  <Info>
    <Parent Key="b120698f-a298-4c69-a0ce-d76ce2e6a887">Writing &amp; Publishing</Parent>
    <Path>/Categories/WritingPublishing/SelfPublishing</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:39:20</CreateDate>
    <NodeName Default="Self-Publishing" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>