<?xml version="1.0" encoding="utf-8"?>
<Content Key="62e57368-546e-40e8-8058-37aee98069f4" Alias="Software Development" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/SoftwareDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:37:55</CreateDate>
    <NodeName Default="Software Development" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#7dc8e3]]></Value>
    </color>
  </Properties>
</Content>