<?xml version="1.0" encoding="utf-8"?>
<Content Key="c61f81a9-a1b5-4ac6-91e5-c849e4729b6d" Alias="Songwriting" Level="3">
  <Info>
    <Parent Key="216157e7-234b-4569-9dd0-67cf978d00c0">Music</Parent>
    <Path>/Categories/Music/Songwriting</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:04</CreateDate>
    <NodeName Default="Songwriting" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>