<?xml version="1.0" encoding="utf-8"?>
<Content Key="a389ae9a-dd7b-4367-836d-486b4635acc7" Alias="Street Photography" Level="3">
  <Info>
    <Parent Key="e0f82125-70eb-45ae-865e-8aa834908663">Photography</Parent>
    <Path>/Categories/Photography/StreetPhotography</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:44:57</CreateDate>
    <NodeName Default="Street Photography" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>