<?xml version="1.0" encoding="utf-8"?>
<Content Key="e35450f8-4ef3-4cd1-9263-44fc36ac7947" Alias="Sub category" Level="101">
  <Info>
    <Parent Key="0f582a79-1e41-4cf0-bfa0-76340651891a">Recycle Bin</Parent>
    <Path>/RecycleBin/SubCategory</Path>
    <Trashed Parent="3ba5cc68-3989-4fc7-a61f-c5fb490aece6">true</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-20T08:27:30</CreateDate>
    <NodeName Default="Sub category" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>