<?xml version="1.0" encoding="utf-8"?>
<Content Key="2be1cb55-8976-4f46-b062-6c7155e63d53" Alias="Test Preparation" Level="3">
  <Info>
    <Parent Key="3407abc2-e2d9-4cae-a8b6-b50c5877a774">Education</Parent>
    <Path>/Categories/Education/TestPreparation</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:40:06</CreateDate>
    <NodeName Default="Test Preparation" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>