<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5831e33-1d86-4754-8402-f146dba1f124" Alias="UI/UX" Level="3">
  <Info>
    <Parent Key="1f82306c-ee58-487d-b143-103992e686fa">Design</Parent>
    <Path>/Categories/Design/UIUX</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:42:28</CreateDate>
    <NodeName Default="UI/UX" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>