<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ada9a0b-b4ec-4fd2-83d3-b860be50523a" Alias="Watercolor" Level="3">
  <Info>
    <Parent Key="a397b257-0f25-4ac1-b2bd-2eb034c952f0">Drawing &amp; Painting</Parent>
    <Path>/Categories/DrawingPainting/Watercolor</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:43:16</CreateDate>
    <NodeName Default="Watercolor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>