<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf448e06-e4d4-40d6-be9b-083b26dae661" Alias="Web Development" Level="3">
  <Info>
    <Parent Key="62e57368-546e-40e8-8058-37aee98069f4">Software Development</Parent>
    <Path>/Categories/SoftwareDevelopment/WebDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:38:04</CreateDate>
    <NodeName Default="Web Development" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>