<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e8df241-0efa-4c25-be7b-a66e0d24e789" Alias="Workout Plans" Level="3">
  <Info>
    <Parent Key="565e8a7e-2806-41bd-8ed6-9444c3939bb9">Fitness &amp; Health</Parent>
    <Path>/Categories/FitnessHealth/WorkoutPlans</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:41:39</CreateDate>
    <NodeName Default="Workout Plans" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>