<?xml version="1.0" encoding="utf-8"?>
<Content Key="b120698f-a298-4c69-a0ce-d76ce2e6a887" Alias="Writing &amp; Publishing" Level="2">
  <Info>
    <Parent Key="0eb8c8b4-2e39-44c2-aebc-531d9a40f46a">Categories</Parent>
    <Path>/Categories/WritingPublishing</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2026-08-26T12:38:48</CreateDate>
    <NodeName Default="Writing &amp; Publishing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#d6b3ff]]></Value>
    </color>
  </Properties>
</Content>