<?xml version="1.0" encoding="utf-8"?>
<Content Key="38227126-b900-401e-b593-022ef8e233a8" Alias="Yoga" Level="3">
  <Info>
    <Parent Key="565e8a7e-2806-41bd-8ed6-9444c3939bb9">Fitness &amp; Health</Parent>
    <Path>/Categories/FitnessHealth/Yoga</Path>
    <Trashed>false</Trashed>
    <ContentType>subcategory</ContentType>
    <CreateDate>2026-08-26T12:42:01</CreateDate>
    <NodeName Default="Yoga" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
  </Properties>
</Content>