<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d308c147-c985-4c5d-8fc4-1fd49092b854" Alias="Category - color - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Category - color - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showPalette": true
}]]></Config>
</DataType>